<div >
    <h5>Stewardess Information</h5>
    <hr>
    <div>
      <label>Id</label>
      <div>
        {{stewardess.id}}
      </div>
    </div>
    <div>
      <label>FirstName</label>
      <div>
        <input class="form-control" name="firstName" [(ngModel)]="stewardess.firstName" />
      </div>
    </div>
    <div>
      <label>LastName</label>
      <div>
        <input class="form-control" name="lastName" [(ngModel)]="stewardess.lastName" />
      </div>
    </div>
    <div>
      <label>BirthDate</label>
      <div>
            <input class="form-control" name="dateOfBirth" [(ngModel)]="stewardess.dateOfBirth" />
      </div>
      </div>
      <div class="btn-box">
              <button class="btn" (click)="update(stewardess.id)">Update</button>
              <button class="btn" (click)="delete(stewardess.id)">Delete</button>
          </div>
  </div>
    
    