<div >
	<h5>AirCraftType Information</h5>
	<hr>
	<div>
		<label>Id</label>
		<div>
			{{airCraftType.id}}
		</div>
	</div>
	<div>
		<label>Model</label>
		<div>
			<input class="form-control" name="airCraftType" [(ngModel)]="airCraftType.model" />
		</div>
	</div>
	<div>
		<label>Seats</label>
		<div>
			<input class="form-control" name="seats" [(ngModel)]="airCraftType.seats" />
		</div>
	</div>
	<div>
		<label>Load Capacity</label>
		<div>
          <input class="form-control" name="loadCapacity" [(ngModel)]="airCraftType.loadCapacity" />
		</div>
    </div>
    <div class="btn-box">
            <button class="btn" (click)="update(airCraftType.id)">Update</button>
            <button class="btn" (click)="delete(airCraftType.id)">Delete</button>
        </div>
</div>
	
	